/* This css should be good */

table.ftz-table {
    font-family: "Arial", sans-serif;
    border-collapse: collapse;
    font-size: medium;
    margin-top: 30px;
    margin-left: 10px;
}

td.ftz-rowInfo {
    padding-left: 4px;
    padding-right: 4px;
}

td.ftz-rowName {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    font-weight: normal;
}

tr.ftz-row {
    height: 40px;
}

tr.ftz-row em {
    font-weight: bolder;
    font-style: normal;    
}

input[type="text"].ftz-date_input {
    width: 10ch;
}

input[type="text"].ftz-time_input {
    width: 5ch;
}

input[type="text"].ftz-date_input, input[type="text"].ftz-time_input {
    font-size: medium;
    font-family: monospace;
    padding-left: 4px;
    padding-right: 4px;
    border: 1px solid #999;
}

tr.ftz-local {
    background-color: #efefef;
}

tr.ftz-local td.ftz-rowControl {
    width: 6px;
    background-color: #999;
}

tr.ftz-nonlocal {
    background-color: #e6f0ff;  
}

tr.ftz-nonlocal td.ftz-rowControl {
    width: 6px;
    background-color: #61b9e7;
}

td.ftz-rowControl {
    padding: 0px;
}

span.ftz-tz_offset {
    font-family: monospace;
    padding-right: 20px;
}

td.ftz-dst {
    background: #FEEFB3;
    box-shadow: inset 6px 0px 12px -6px #f2c779;
    width: 180px;
    text-align: center;
}

table.ftz-table tfoot tr {
    padding-top: 20px;
    height: 40px;
    background-color: #FCFCFC;
}

table.ftz-table tfoot td.ftz-rowControl {
    background-color: #e6e6e6;
}

/* I haven't thought about any of the stuff below. */

.ftz-invalid {
    background-color: #FFE6E6;
}

div.ui-datepicker{
    font-size: 11px;
}

  .ui-autocomplete {
    max-height: 180px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }

  .ftz-loading {
    color: lightgray;
  }

  .ftz-table .ftz-grabspan {
    width: 16px;
    height: 16px;
    display: block;
    background-image: url('grab.png');
    background-repeat: no-repeat;

  }

  .ftz-table .ftz-ungrabbablespan {
    width: 16px;
    height: 16px;
    display: block;
  }