.ftz-invalid {
    background-color: #FFE6E6;
}

div.ui-datepicker{
    font-size: 11px;
}

  .ui-autocomplete {
    max-height: 180px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }